@font-face {
  font-family: "Maven Pro";
  src: url("../../fonts/Maven_Pro/Maven-Pro-regular.woff") format("woff");
  /* Ajoutez d'autres formats si nécessaire */
  font-weight: normal;
  font-style: normal;
}

/* Espace entre menu et logo EchoKey */
nav {
  margin-bottom: 20px; /* Ajoute de l'espace en bas de la balise <nav> */
}

#Logo1 {
  margin-top: 30px; /* Ajoute de l'espace au-dessus de l'image */
}

/* Css Barre de menu */
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro";
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  top: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  list-style: none;
}

.menu li {
  width: 100%;
  list-style: none;
  height: 50px;
  text-align: center;
  background-color: #f7eeff;
}

.menu li a {
  font-size: 30px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}

.menu li:hover {
  background: url("../../images/faq_onde.svg");
  animation: line 1s;
  background-color: #f7eeff;
}

.menu li:hover a {
  color: #d94f5c;
}

.menu li:not(:last-child) {
  margin: 0 auto;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

/* Css de la page */
body {
  background-image: url("../../images/backgroundfhdtest.png");
  background-size: cover;
  background-repeat: repeat; /* Empêche la répétition de l'image */
  background-attachment: fixed; /* Fixe l'image pour qu'elle reste en place lorsque l'utilisateur fait défiler la page */
}

#icon {
  padding-top: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  transition: 0.3s;
}

#icon:hover {
  border-color: lightgray;
  background-color: lightgray;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

h1 {
  text-align: center;
}

/* Footer */
footer {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
  padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
  background-color: #f7eeff;
  text-align: center;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
}

footer nav ul li a {
  text-decoration: none;
  color: #777; /* Couleur du texte pour les liens */
  margin-left: 75px;
  font-size: 15px;
  transition: all 0.45s;
}
footer li:hover a {
  color: #d94f5c;
}
