@font-face {
  font-family: "Maven Pro";
  src: url("../../fonts/Maven_Pro/Maven-Pro-regular.woff") format("woff");
  /* Ajoutez d'autres formats si nécessaire */
  font-weight: normal;
  font-style: normal;
}

/* Espace entre menu et logo EchoKey */
nav {
  margin-bottom: 20px; /* Ajoute de l'espace en bas de la balise <nav> */
}

img {
  margin-top: 30px; /* Ajoute de l'espace au-dessus de l'image */
}

*,/* css Barre de menu */
  *:before,
  *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro";
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  top: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  list-style: none;
}

.menu li {
  width: 100%;
  list-style: none;
  height: 50px;
  text-align: center;
  background-color: #f7eeff;
}

.menu li a {
  font-size: 30px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}

.menu li:hover {
  background: url("../../images/faq_onde.svg");
  animation: line 1s;
  background-color: #f7eeff;
}

.menu li:hover a {
  color: #d94f5c;
}

.menu li:not(:last-child) {
  margin: 0 auto;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

/* Définissez les styles pour les appareils mobiles avec une largeur maximale de 767px */
@media screen and (max-width: 767px) {
  .menu {
    flex-direction: row; /* Change la direction des éléments en colonne */
    display: flex;
    justify-content: space-around; /* Espacement égal entre les éléments */
    width: 767px; /* Pour occuper toute la largeur */
  }

  .menu li {
    flex: 1 1 calc(50% - 10px); /* Redimensionne la largeur des éléments pour s'adapter au contenu */
    height: auto; /* Ajuste la hauteur en fonction du contenu */
    text-align: center; /* Aligne le texte à gauche */
    padding: 10px; /* Ajoute un peu d'espace autour des éléments */
    border-bottom: 1px solid #ddd; /* Ajoute une séparation entre les éléments */
  }

  .menu li:last-child {
    border-bottom: none; /* Supprime la bordure en bas du dernier élément */
  }

  .menu li a {
    font-size: 18px; /* Réduit la taille de la police */
  }
}

/* Header Styles */
.header {
  padding: 50px 0;
  text-align: center;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: rgb(91, 11, 91);
  font-size: 3em;
  margin-bottom: 10px;
}
h2 {
  color: rgb(91, 11, 91);
}
/*dimensionnement des images*/
#img-analyse {
  width: 220px;
  height: 200px;
}

#img-forum {
  width: 200px;
  height: 200px;
}

#img-profil {
  width: 200px;
  height: 200px;
}

#img-news {
  width: 180px;
  height: 160px;
}

/* structure de la page*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.main {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.news {
  padding: 20px;
}

/* effet de hover sur les images*/
.img1 figure img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.img1 figure:hover img {
  opacity: 0.5;
}
.img1 figure::after {
  content: "profil";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: rgb(72, 26, 99);
  font-size: 20px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Allows hover through the text */
}

.img1 figure:hover::after {
  opacity: 1;
}

.img2 figure img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.img2 figure:hover img {
  opacity: 0.5;
}

.img3 figure img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.img3 figure:hover img {
  opacity: 0.5;
}
/* pull-out tab pour les actu*/
.tab {
  text-align: center;
  position: absolute;
  top: 0;
  right: -50%; /* Adjust to hide the tab initially */
  width: 50%;
  height: auto;
  background-color: #f7eeff;
  transition: 0.3s ease-out;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.tab p {
  margin: 10px;
  color: #333;
}

.tab.active {
  right: 0;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
  padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
  background-color: #f7eeff;
  text-align: center;
}

.footer nav ul {
  list-style: none;
  padding: 0;
}

.footer nav ul li {
  display: inline;
}

.footer nav ul li a {
  text-decoration: none;
  color: #777; /* Couleur du texte pour les liens */
  margin-left: 75px;
  font-size: 15px;
  transition: all 0.45s;
}

.footer li:hover a {
  color: #d94f5c;
}

/*CSS image de déconnexion*/
#imgdeco {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto; /* Utilisez 'auto' pour conserver les proportions de l'image */
  max-width: 3%; /* Définissez la largeur maximale pour éviter qu'elle ne devienne trop grande */
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 5;
}

/*CSS logos de marques*/

#LISEP,
#LEVENTS,
#LTransnoise,
#LEchokey {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 0.5rem; /* Ajoutez une marge en bas pour espacer les images */
  margin-left: 0.5rem; /* Ajoutez une marge à gauche pour espacer les images */
  z-index: 5;
}

#LISEP {
  height: 35px;
  width: auto; /* Utilisez 'auto' pour conserver les proportions de l'image */
  max-width: 5%; /* Définissez la largeur maximale pour éviter qu'elle ne devienne trop grande */
  margin-left: 150px;
}

#LEVENTS,
#LTransnoise {
  height: 35px;
  width: auto;
  max-width: 60px;
}

#LEchokey {
  height: 32px;
  width: auto; /* Utilisez 'auto' pour conserver les proportions de l'image */
  max-width: 5%; /* Définissez la largeur maximale pour éviter qu'elle ne devienne trop grande */
  margin-left: 280px; /* Ajoutez une marge à gauche pour espacer cette image */
}

#LEVENTS {
  margin-left: 75px; /* Ajoutez une marge à gauche pour espacer cette image */
}

#LTransnoise {
  margin-left: 5px; /* Ajoutez une marge à gauche pour espacer cette image */
}
