@font-face {
  font-family: 'Maven Pro';
  src: url('../../fonts/Maven_Pro/Maven-Pro-regular.woff') format('woff');
  /* Ajoutez d'autres formats si nécessaire */
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('../../images/backgroundfhdtest.png');
  background-size: cover;
  background-repeat: repeat; /* Empêche la répétition de l'image */
  background-attachment: fixed; /* Fixe l'image pour qu'elle reste en place lorsque l'utilisateur fait défiler la page */
}

/* Espace entre menu et logo EchoKey */
nav {
  margin-bottom: 20px; /* Ajoute de l'espace en bas de la balise <nav> */
}

#Logo1 {
  margin-top: 30px; /* Ajoute de l'espace au-dessus de l'image */
}

*,/* css Barre de menu */
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    letter-spacing: 1.1px;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Maven Pro";
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    top: 0px;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 0;
    list-style: none;
}

.menu li {
  width: 100%;
  list-style: none;
  height: 50px;
  text-align: center;
  background-color: #f7eeff;
}

.menu li a {
  font-size: 30px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}

.menu li:hover {
    background: url("../../images/faq_onde.svg");
    animation: line 1s;
    background-color: #f7eeff;
}

.menu li:hover a {
        color: #d94f5c;
    }

.menu li:not(:last-child) {
    margin: 0 auto;
}




@keyframes line {
    0% {
        background-position-x: 390px;
    }
}



/* css Questions génériques */
body,
* /* Utilisation des pseudo-éléments ::before et ::after */
.menu li::before,
.menu li::after {
  box-sizing: border-box;
}


.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

/* Styles pour les éléments .accordion-item */
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

/* Styles pour les boutons dans les éléments .accordion-item avec attribut aria-expanded à true */
.accordion button[aria-expanded='true'] {
  border-bottom: 1px solid #d94f5c;
  color: #d94f5c;
}

/* Styles pour tous les boutons */
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

/* Styles pour les boutons au survol ou focus */
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #d94f5c;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #d94f5c;
  border: 1px solid #d94f5c;
}

/* Styles pour .accordion-title */
.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

/* Styles pour l'élément .icon */
.icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
/* Styles pour l'icône */
   .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }

  .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }

  /* Styles pour le bouton lorsque aria-expanded est true */
  button[aria-expanded='true'] .icon::after {
    width: 0;
  }
/* Styles pour l'affichage du contenu lorsqu'aria-expanded est true */
  .accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 25em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

/* Styles pour le contenu de l'accordéon */
.accordion-content {
opacity: 0;
max-height: 0;
overflow: hidden;
transition: opacity 200ms linear, max-height 200ms linear;
will-change: opacity, max-height;
}

/* Styles pour les paragraphes à l'intérieur du contenu de l'accordéon */
.accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}


.Profil {
  display: inline-block; /* Permet d'aligner le texte à gauche à l'intérieur du conteneur centré */
  text-align: left; /* Aligne le texte à gauche à l'intérieur de son conteneur */
}


/* css Barre de recherche */
.wrapper {
  width: 100%;
  max-width: 40rem;
  margin: 2rem auto;
}
#searchForm {
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  width: 100%;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  flex: 1;/* Fait en sorte que le champ de saisie prenne autant d'espace que possible */
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
  flex-shrink: 0; /* Empêche le bouton de réduire la taille du champ de saisie */
}

#searchQuerySubmit:hover {
  cursor: pointer;
}


/* Footer */
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
  padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
  background-color: #f7eeff;
  text-align: center;
}

.footer nav ul {
  list-style: none;
  padding: 0;
}

.footer nav ul li {
  display: inline;

}

.footer nav ul li a {
  text-decoration: none;
  color: #777; /* Couleur du texte pour les liens */
  margin-left: 75px;
  font-size: 15px;
  transition: all 0.45s;
}

.footer li:hover a {
  color: #d94f5c;
}

/* CSS image de déconnexion */
#imgdeco {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  max-width: 100%;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 5;
}

/* CSS logos de marques */
#LogosFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: auto;
  margin-bottom: 0.01rem;
  margin-left: 0.5rem;
  z-index: 5;
}

/*barre controle f test d'integration */
/* Styles for the loupebar */

.loupebar {
  position: fixed; /* Utilisation de 'fixed' pour fixer l'élément par rapport à la fenêtre */
  top: 0; /* Ajustez la valeur pour l'espacement du haut */
  right: 225px; /* Ajustez la valeur pour l'espacement de la droite */
  width: 300px;
  height: 100px;
  margin-top: 30px;
}

/* Styles for the search button */
.loupebar .search {
  position: fixed; /* Utilisation de 'fixed' pour fixer l'élément par rapport à la fenêtre */
  margin-top: 30px;
  right: 0; /* Ajustez la valeur pour l'espacement de la droite */
  width: 50px;
  height: 50px;
  background: #f7eeff;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.loupebar .search:hover {
  cursor: pointer;
}

.loupebar .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: #777;
  transform: rotate(45deg);
  transition: all .5s;
}

.loupebar .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #777;
  transition: all .5s;
}

/* Styles for the input */
.loupebar input {
  position: fixed; /* Utilisation de 'fixed' pour fixer l'élément par rapport à la fenêtre */
  margin-top: 30px;
  right: 20px; /* Ajustez la valeur pour l'espacement de la droite */
  width: 225px;
  height: 50px;
  outline: none;
  border: none;
  background: #f7eeff;
  color: #777;
  text-shadow: 0 0 10px #f7eeff;
  width: 50px; /* Définit la largeur de la barre de recherche */
  padding: 0;
  text-indent: 10px; /* Réinitialise le décalage du texte */
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #f7eeff, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
  right: 0; /* Positionne l'entrée tout à droite */
}

.loupebar input:hover {
  cursor: pointer;
}

.loupebar input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
  transition: all 1s; /* Ajoute une transition pour une animation fluide */
}

.loupebar input:focus ~ .search {
  right: -250px; /* Déplace .search vers la gauche */
  background: #151515;
  z-index: 6;
  transition: all 1s; /* Ajoute une transition pour une animation fluide */
}

.loupebar input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.loupebar input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: #777;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.loupebar input::placeholder {
  color: #777;
  opacity: 1;
  font-weight: bolder;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}



/* Définissez les styles pour les appareils mobiles avec une largeur maximale de 767px */
@media screen and (max-width: 767px) {
  .menu {
    flex-direction: row; /* Change la direction des éléments en colonne */
    display: flex;
    justify-content: space-around; /* Espacement égal entre les éléments */
    width: 767px; /* Pour occuper toute la largeur */
  }

  .menu li {
    flex: 1 1 calc(50% - 10px); /* Redimensionne la largeur des éléments pour s'adapter au contenu */
    height: auto; /* Ajuste la hauteur en fonction du contenu */
    text-align: center; /* Aligne le texte à gauche */
    padding: 10px; /* Ajoute un peu d'espace autour des éléments */
    border-bottom: 1px solid #ddd; /* Ajoute une séparation entre les éléments */
  }

  .menu li:last-child {
    border-bottom: none; /* Supprime la bordure en bas du dernier élément */
  }

  .menu li a {
    font-size: 18px; /* Réduit la taille de la police */
  }
  body {
    /* Arrière-plan spécifique pour les appareils mobiles */
    background-image: url('../../images/backgroundfhdtest.png');
    background-size: cover;
    background-repeat: repeat; /* Active la répétition de l'arrière-plan */
    background-attachment: scroll;
  }


#imgdeco {
  width: 15%; /* Ajustez la largeur pour les appareils mobiles si nécessaire */
}
#LogosFooter {
  width: 15%; /* Ajustez la hauteur pour les appareils mobiles si nécessaire */
}

/* Footer */
.footer {
position: fixed;
right: 0;
bottom: 0;
left: 0;
padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
background-color: #f7eeff;
text-align: center;
  }
}