/**/
@font-face {
  font-family: "Maven Pro";
  src: url("../../fonts/Maven_Pro/Maven-Pro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../../images/backgroundfhdtest.png");
  background-size: cover;
  background-repeat: repeat; /* Empêche la répétition de l'image */
  background-attachment: fixed; /* Fixe l'image pour qu'elle reste en place lorsque l'utilisateur fait défiler la page */
}

/* Espace entre menu et logo EchoKey */
nav {
  margin-bottom: 20px; /* Ajoute de l'espace en bas de la balise <nav> */
}

#Logo1 {
  margin-top: 30px; /* Ajoute de l'espace au-dessus de l'image */
}

*,/* css Barre de menu */
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

/*Gere la globalité du body*/
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro";
}
/*gere le menu dans l'index*/
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  top: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  list-style: none;
}

.menu li {
  width: 100%;
  list-style: none;
  height: 50px;
  text-align: center;
  background-color: #f7eeff;
}

.menu li a {
  font-size: 30px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}

/*l'animation de vague*/
.menu li:hover {
  background: url("../../images/faq_onde.svg");
  animation: line 1s;
  background-color: #f7eeff;
}

.menu li:hover a {
  color: #d94f5c;
}

.menu li:not(:last-child) {
  margin: 0 auto;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

/* css Questions génériques */
body,
* /* Utilisation des pseudo-éléments ::before et ::after */
.menu li::before,
.menu li::after {
  box-sizing: border-box;
}

/* Styles pour la nouvelle section "content" */
.content {
  display: flex;
  margin: 20px auto 0;
  padding: 4rem;
  color: rgb(134, 57, 160);
  align-items: center; /* Centre les éléments verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  text-align: left;
}

.content h1 {
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 2px;
  margin-right: 60px; /* Supprime la marge à droite du titre */
}

.content img {
  max-width: 100%;
  margin-left: 60px; /* Ajoute une marge à gauche de l'image si nécessaire */
}

/* Ajoutez ces styles pour centrer le texte "Echokey" */
.content-container {
  display: flex;
  margin: 20px auto 0;
  padding: 2rem;
  color: rgb(134, 57, 160);
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px; /* Ajoutez une largeur maximale pour éviter que le contenu ne devienne trop large */
  margin: 0 auto; /* Utilisez 'auto' pour centrer horizontalement */
  position: relative; /* Ajoutez une position relative pour positionner la barre de séparation absolument */
}

.content-container::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 150px;
  margin-left: 15px; /* Ajustez cette valeur pour déplacer la barre vers la gauche */
  background-color: #a12e9f; /* Couleur de la barre de séparation */
  left: 50%; /* Placez la barre au centre */
  transform: translateX(
    -50%
  ); /* Décalage de la moitié de la largeur pour la centrer */
}

.content-container .Echokey {
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 2px;
  margin-right: 30px;
}

.content-container .paragraphe {
  font-size: 20px;
}

.content-container .left,
.content-container .right {
  flex: 1;
}
.buton {
  text-align: center;
  margin-top: 20px; /* Ajoute un espace au-dessus du bouton */
  padding-bottom: 70px;
}

button.cn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  background-color: rgb(225, 194, 236);
  color: #fff; /* Couleur du texte */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* Ajoute une transition sur la couleur de fond */
}

button.cn a {
  text-decoration: none !important;
  color: white;
}

button.cn:hover {
  background-color: #ddbadd; /* Nouvelle couleur de fond au survol */
}

/* Footer */
.footer {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
  padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
  background-color: #f7eeff;
  text-align: center;
}

.footer nav ul {
  list-style: none;
  padding: 0;
}

.footer nav ul li {
  display: inline;
}

.footer nav ul li a {
  text-decoration: none;
  color: #777; /* Couleur du texte pour les liens */
  margin-left: 75px;
  font-size: 15px;
  transition: all 0.45s;
}
.footer li:hover a {
  color: #d94f5c;
}

/* CSS image de déconnexion */
#imgdeco {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  max-width: 100%;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 5;
}

/* CSS logos de marques */
#LogosFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: auto;
  margin-bottom: 0.01rem;
  margin-left: 0.5rem;
  z-index: 5;
}


/* Définissez les styles pour les appareils mobiles avec une largeur maximale de 767px */
@media screen and (max-width: 767px) {
  .menu {
    flex-direction: row; /* Change la direction des éléments en colonne */
    display: flex;
    justify-content: space-around; /* Espacement égal entre les éléments */
    width: 767px; /* Pour occuper toute la largeur */
  }

  .content span {
    color: #530404;
  }
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* Styles for the first div inside the container */
  .content-container > div:nth-child(1) {
    flex: 1; /* Takes up all available space */
    margin-right: 20px; /* Adjust the margin as needed */
  }

  /* Styles for the second div inside the container */
  .content-container > div:nth-child(2) {
    flex: 1; /* Takes up all available space */
    margin-left: 20px; /* Adjust the margin as needed */
  }
  /* Footer */
  .footer {
    position: fixed;
    right: 0;
    bottom: 0px;
    left: 0;
    padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
    padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
    background-color: #f7eeff;
    text-align: center;
  }

  /* Footer */
  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
    padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
    background-color: #f7eeff;
    text-align: center;
  }

  .footer nav ul {
    list-style: none;
    padding: 0;
  }

  .footer nav ul li {
    display: inline;
  }

  .footer nav ul li a {
    text-decoration: none;
    color: #777; /* Couleur du texte pour les liens */
    margin-left: 75px;
    font-size: 15px;
    transition: all 0.45s;
  }

  .footer li:hover a {
    color: #d94f5c;
  }

  #imgdeco {
    width: 15%; /* Ajustez la largeur pour les appareils mobiles si nécessaire */
  }
  #LogosFooter {
    width: 15%; /* Ajustez la hauteur pour les appareils mobiles si nécessaire */
  }

  
  /* Définissez les styles pour les appareils mobiles avec une largeur maximale de 767px */
  @media screen and (max-width: 767px) {
    .menu {
      flex-direction: row; /* Change la direction des éléments en colonne */
      display: flex;
      justify-content: space-around; /* Espacement égal entre les éléments */
      width: 767px; /* Pour occuper toute la largeur */
    }

    .menu li {
      flex: 1 1 calc(50% - 10px); /* Redimensionne la largeur des éléments pour s'adapter au contenu */
      height: auto; /* Ajuste la hauteur en fonction du contenu */
      text-align: center; /* Aligne le texte à gauche */
      padding: 10px; /* Ajoute un peu d'espace autour des éléments */
      border-bottom: 1px solid #ddd; /* Ajoute une séparation entre les éléments */
    }

    .menu li:last-child {
      border-bottom: none; /* Supprime la bordure en bas du dernier élément */
    }

    body {
      background-image: url("../../images/backgroundfhdtest.png");
      background-size: cover;
      background-repeat: repeat;
      background-attachment: scroll;
    }
  }
}
