@font-face {
  font-family: "Maven Pro";
  src: url("../../fonts/Maven_Pro/Maven-Pro-regular.woff") format("woff");
  /* Ajoutez d'autres formats si nécessaire */
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  letter-spacing: 1.1px;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("../../images/fond_ecran_accueil.jpeg") center center
    no-repeat;
  background-size: cover;
  z-index: -10;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro";
}

nav {
  margin-bottom: 20px; /* Ajoute de l'espace en bas de la balise <nav> */
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  top: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  list-style: none;
}

.menu li {
  width: 100%;
  list-style: none;
  height: 50px;
  text-align: center;
  background-color: #f7eeff;
}

.menu li a {
  font-size: 30px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}

.menu li:hover {
  background: url("../../images/faq_onde.svg");
  animation: line 1s;
  background-color: #f7eeff;
}

.menu li:hover a {
  color: #d94f5c;
}

.menu li:not(:last-child) {
  margin: 0 auto;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.content {
  color: beige;
  height: auto;
  width: 1200px;
  margin: 100px auto 0;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn {
  width: 200px;
  height: 40px;
  background: #f7eeff;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.content .cn a {
  text-decoration: none;
  color: gray;
  transition: 0.5s ease;
}

.cn:hover {
  background-color: beige;
}

.content span {
  color: #f7eeff;
}
