@font-face {
  font-family: "Maven Pro";
  src: url("../../fonts/Maven_Pro/Maven-Pro-regular.woff") format("woff");
  /* Ajoutez d'autres formats si nécessaire */
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../../images/Nutritium_Background1.png");
  background-size: cover;
  background-repeat: repeat; /* Empêche la répétition de l'image */
  background-attachment: fixed; /* Fixe l'image pour qu'elle reste en place lorsque l'utilisateur fait défiler la page */
}

/* Espace entre menu et logo EchoKey */
nav {
  margin-bottom: 20px; /* Ajoute de l'espace en bas de la balise <nav> */
}

/* HEADER EN DESSUS */
#Logo1 {
  margin-top: 30px;   /* espace au-dessus */
  width: 150px;       /* ajustez cette valeur à ce qui vous convient */
  height: auto;       /* conserve le ratio */
}


*,/* css Barre de menu */
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro";
}

/*gere le menu dans l'index*/
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  top: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  list-style: none;
}

.menu li {
  width: 100%;
  list-style: none;
  height: 50px;
  text-align: center;
  background-color: rgba(26, 227, 1, 0.54);
}

.menu li a {
  font-size: 30px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}


/*l'animation de vague*/
.menu li:hover {
  background: url("../../images/testonde.png");
  animation: line 1s;
  background-color: rgba(26, 227, 1, 0.54);
}

.menu li:hover a {
  color: #4fa9d9;
}

.menu li:not(:last-child) {
  margin: 0 auto;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

/* Css de la page */
h1 {
  text-align: center;
}


/* Footer */
.footer {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
  padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
  background-color: rgba(26, 227, 1, 0.54);
  text-align: center;
}

.footer nav ul {
  list-style: none;
  padding: 0;
}

.footer nav ul li {
  display: inline;
}

.footer nav ul li a {
  text-decoration: none;
  color: #777; /* Couleur du texte pour les liens */
  margin-left: 75px;
  font-size: 15px;
  transition: all 0.45s;
}
.footer li:hover a {
  color: #4fa9d9;
}

/* CSS image de déconnexion */
#imgdeco {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  max-width: 100%;
  margin-bottom: 0.1rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 5;
}

/* CSS logos de marques */
#LogosFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: auto;
  margin-bottom: 0.01rem;
  margin-left: 0.5rem;
  z-index: 5;
}

/* Définissez les styles pour les appareils mobiles avec une largeur maximale de 767px */
@media screen and (max-width: 767px) {
  .menu {
    flex-direction: row; /* Change la direction des éléments en colonne */
    display: flex;
    justify-content: space-around; /* Espacement égal entre les éléments */
    width: 767px; /* Pour occuper toute la largeur */
  }

  .menu li {
    flex: 1 1 calc(50% - 10px); /* Redimensionne la largeur des éléments pour s'adapter au contenu */
    height: auto; /* Ajuste la hauteur en fonction du contenu */
    text-align: center; /* Aligne le texte à gauche */
    padding: 10px; /* Ajoute un peu d'espace autour des éléments */
    border-bottom: 1px solid #ddd; /* Ajoute une séparation entre les éléments */
  }

  .menu li:last-child {
    border-bottom: none; /* Supprime la bordure en bas du dernier élément */
  }

  .menu li a {
    font-size: 18px; /* Réduit la taille de la police */
  }
  body {
    /* Arrière-plan spécifique pour les appareils mobiles */
    background-image: url('../../images/Nutritium_Background1.png');
    background-size: cover;
    background-repeat: repeat; /* Active la répétition de l'arrière-plan */
    background-attachment: scroll;
  }


  #imgdeco {
    width: 15%; /* Ajustez la largeur pour les appareils mobiles si nécessaire */
  }
  #LogosFooter {
    width: 15%; /* Ajustez la hauteur pour les appareils mobiles si nécessaire */
  }

  /* Footer */
  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
    padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
    background-color: rgba(26, 227, 1, 0.54);
    text-align: center;
  }
}