/**/
@font-face {
  font-family: "Maven Pro";
  src: url("../../fonts/Maven_Pro/Maven-Pro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../../images/Nutritium_Background1.png");
  background-size: cover;
  background-repeat: repeat; /* Empêche la répétition de l'image */
  background-attachment: fixed; /* Fixe l'image pour qu'elle reste en place lorsque l'utilisateur fait défiler la page */
}

/* Espace entre menu et logo EchoKey */
nav {
  margin-bottom: 20px; /* Ajoute de l'espace en bas de la balise <nav> */
}
/* HEADER EN DESSUS */
#Logo1 {
  margin-top: 30px;   /* espace au-dessus */
  width: 150px;       /* ajustez cette valeur à ce qui vous convient */
  height: auto;       /* conserve le ratio */
}


.language-selector {
  font-size: 16px;
  align-items: center;
  right: 0;
  position: fixed;
  margin-top: -50px;
  color: #777; /* ou la couleur de votre choix */
}

.language-selector a {
  text-decoration: none;
  color: inherit; /* Hérite la couleur du parent */
  padding: 0 10px;
}

.language-selector a:hover {
  color: #4fa9d9; /* ou une autre couleur pour le survol */
}


*,/* css Barre de menu */
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

/*Gere la globalité du body*/
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maven Pro";
}
/*gere le menu dans l'index*/
.menu {
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  top: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  list-style: none;
}

.menu li {
  width: 100%;
  list-style: none;
  height: 50px;
  text-align: center;
  background-color: rgba(26, 227, 1, 0.54);
}

.menu li a {
  font-size: 30px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}

/*l'animation de vague*/
.menu li:hover {
  background: url("../../images/testonde.png");
  animation: line 1s;
  background-color: rgba(26, 227, 1, 0.54);
}

.menu li:hover a {
  color: #4fa9d9;
}

.menu li:not(:last-child) {
  margin: 0 auto;
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

body,
* /* Utilisation des pseudo-éléments ::before et ::after */
.menu li::before,
.menu li::after {
  box-sizing: border-box;
}

.welcome-message {
  text-align: center;
  font-weight: bold;
  color: #4fa9d9;
  font-size: 50px;
  background-color: rgba(26, 227, 1, 0.54);
  padding: 10px;
  position: relative;
  top: -100px;     /* remonte de 20px */
  margin: 0 330px; /* ou votre valeur existante */
  border-radius: 40px;
}

/* Styles pour la nouvelle section "content" */
.content {
  display: flex;
  margin: -90px auto 0;
  padding: 4rem;
  color: #4fa9d9;
  align-items: center; /* Centre les éléments verticalement */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  text-align: left;
  margin-left: 100px;
}

.content h1 {
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 2px;
  margin-right: 90px; /* Supprime la marge à droite du titre */
}

.content img {
  max-width: 100%;
  margin-left: 90px; /* Ajoute une marge à gauche de l'image si nécessaire */
}

/* Ajoutez ces styles pour centrer le texte "Echokey" */
.content-container {
  display: flex;
  margin: 20px auto 0;
  padding: 2rem;
  color: #4fa9d9;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px; /* Ajoutez une largeur maximale pour éviter que le contenu ne devienne trop large */
  margin: 0 auto; /* Utilisez 'auto' pour centrer horizontalement */
  position: relative; /* Ajoutez une position relative pour positionner la barre de séparation absolument */
}

.content-container .Nutritium {
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 2px;
  margin-right: 30px;
}

.content-container .paragraphe {
  font-size: 20px;
  text-align: justify;
}

.content-container .left,
.content-container .right {
  flex: 1;
}
.buton {
  text-align: center;
  margin-top: 20px; /* Ajoute un espace au-dessus du bouton */
  padding-bottom: 70px;
}

button.cn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  background-color: rgba(26, 227, 1, 0.72);
  color: #4fa9d9; /* Couleur du texte */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* Ajoute une transition sur la couleur de fond */
}

button.cn a {
  text-decoration: none !important;
  color: #4fa9d9;
}

button.cn:hover {
  color: #4fa9d9; /* Nouvelle couleur de fond au survol */
}

/* Footer */
.footer {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
  padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
  background-color: rgba(26, 227, 1, 0.54);
  text-align: center;
}

.footer nav ul {
  list-style: none;
  padding: 0;
}

.footer nav ul li {
  display: inline;
}

.footer nav ul li a {
  text-decoration: none;
  color: #777; /* Couleur du texte pour les liens */
  margin-left: 75px;
  font-size: 15px;
  transition: all 0.45s;
}
.footer li:hover a {
  color: #4fa9d9;
}

/* CSS logos de marques */
#LogosFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: auto;
  margin-bottom: 0.01rem;
  margin-left: 0.5rem;
  z-index: 5;
}

/* Définissez les styles pour les appareils mobiles avec une largeur maximale de 767px */
@media screen and (max-width: 767px) {
  #Logo1 {
    padding-top: 20px;
    margin: 0 auto;
    display: block;
  }

  .welcome-message {
    /* Réinitialisez les styles pour les écrans plus petits si nécessaire */
    font-weight: normal;
    color: #4fa9d9;
    background-color: rgba(26, 227, 1, 0.54);
    padding: 0;
    margin: 0;
  }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    padding-top: 0;
    /* Ajoutez un espace entre le logo et le contenu réorganisé */
  }

  .content h1 {
    margin: 0px;
    font-size: 70px; /* Réduisez la taille du titre pour les petits écrans */
  }

  .content img {
    max-width: 100%;
    margin-top: 20px; /* Ajoutez un espace entre le texte et l'image */
  }

  /* Centrez l'image avec alt="chanteur" */
  .content img[alt="chanteur"] {
    margin: 0 auto;
    display: block;
  }

  .content img {
    max-width: 100%;
    margin-top: 20px; /* Ajoutez un espace entre le texte et l'image */
  }

  .menu {
    flex-direction: row; /* Change la direction des éléments en colonne */
    display: flex;
    justify-content: space-around; /* Espacement égal entre les éléments */
    width: 767px; /* Pour occuper toute la largeur */
  }

  .content span {
    color: #530404;
  }
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* Styles for the first div inside the container */
  .content-container > div:nth-child(1) {
    flex: 1; /* Takes up all available space */
    margin-right: 20px; /* Adjust the margin as needed */
  }

  /* Styles for the second div inside the container */
  .content-container > div:nth-child(2) {
    flex: 1; /* Takes up all available space */
    margin-left: 20px; /* Adjust the margin as needed */
  }

  /* Footer */
  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 0.5rem; /* Augmenter la hauteur en ajustant le padding */
    padding-bottom: 1px; /* Vous pouvez ajuster ces valeurs selon vos besoins */
    background-color: rgba(26, 227, 1, 0.54);
    text-align: center;
  }

  .footer nav ul {
    list-style: none;
    padding: 0;
  }

  .footer nav ul li {
    display: inline;
  }

  .footer nav ul li a {
    text-decoration: none;
    color: #777; /* Couleur du texte pour les liens */
    margin-left: 75px;
    font-size: 15px;
    transition: all 0.45s;
  }

  .footer li:hover a {
    color: #4fa9d9;
  }

  #LogosFooter {
    width: 15%; /* Ajustez la hauteur pour les appareils mobiles si nécessaire */
  }
}
